@inherits LayoutComponentBase

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
