@page "/Login"
@rendermode InteractiveServer

<NavMenu />

<div class="flex py-24 h-screen w-full justify-center items-center overflow-hidden">
    <div class="max-w-screen-xl flex h-full shadow-md">
        <div class="flex-1 flex items-center justify-center bg-white h-full rounded-l-lg">
            <div class="max-w-md w-full">
                <div class="text-center mb-8">
                    <img src="Images/LogoNoText.png" class="w-8 h-8"/>
                </div>
                <h2 class="text-3xl font-bold text-gray-900 mb-2">Sign in to your account</h2>
                <p class="text-sm text-gray-600 mb-6">Not a member? <a href="/Signup" class="text-indigo-600">Sign up now!</a></p>
                <EditForm Model="@_model" OnSubmit="SubmitFormAsync" FormName="LoginForm">
                    <FluentValidationValidator DisableAssemblyScanning="true" Validator="@_validator" />
                    <DataAnnotationsValidator/>
                    <div class="flex flex-col gap-6">
                        <div>
                            <label for="email" class="sr-only">Email address</label>
                            <InputText @bind-Value="_model.Email" id="email" name="email" type="email" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address"/>
                            <ValidationMessage class="mt-1 text-sm text-red-600" For="() => _model.Email" />
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <InputText @bind-Value="_model.Password" id="password" name="password" type="password" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" />
                            <ValidationMessage class="mt-1 text-sm text-red-600" For="() => _model.Password" />
                        </div>
                        <div class="flex items-center justify-end w-full">
                            <div class="text-sm w-full">
                                <a href="/forgot-password" class="font-medium text-indigo-600 hover:text-indigo-500"> Forgot password? </a>
                            </div>
                        </div>
                        @if(_errorMessage != null)
                        {
                            <div class="text-red-500 text-sm">@_errorMessage</div>
                        }
                        <div>
                            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Sign in
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="h-full flex-1 hidden lg:flex relative items-center justify-center bg-cover rounded-r-lg" style="background-image: url('/Images/codingImage.jpg');">
            <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <img src="/Images/codingImage.jpg" alt="User coding with holographic popping out" class="w-full h-full object-cover rounded-r-lg">
        </div>
    </div>
</div>